/* Global rules */

*{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none; 
}

ul{
  list-style: none;
}

h2{
  font-size: 2.5rem; 
  color: white; 
}

main{
  color: white; 
}

p{
  color: #444445; 
}

/* NAV BAR */

#navBar{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  min-height: 8vh; 
  background-color:white;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  color:#444445; 
  text-transform: uppercase; 
  letter-spacing: 4px;
  font-size: 20px;
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 35%; 
}

.nav-links li{
  list-style: none; 
}

.nav-links a{
  color: #444445;
  text-decoration: none; 
  letter-spacing: 3px; 
  font-size: 14px;
}

.nav-links a:hover{
  color: #7AD0E6;
  font-weight: 450; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

button{
  color: #FFFFFF;
  background-color: #118AB2;
  border: none;
  padding: 10px 30px;
  font-family: 'Montserrat';
  font-weight: 500; 
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #888888;
}

button:hover{
  background-color: #114D74;
  color: #ffffff;
}

.menu{
  display: none; 
  cursor: pointer;
}

.menu div{
  width: 25px;
  height: 3px; 
  background-color: #444445; 
  margin: 5px;
  transition: all 0.3s ease; 
}

@media screen and (max-width: 1150px){
  .nav-links{
    justify-content: space-around;
    width: 50%;
  }
}

@media screen and (max-width: 750px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: fixed;
      right: 0px; 
      height: 92vh;
      top: 8vh;
    background-color: #f7f7f7;
    text-transform: uppercase; 
    font-size: 28px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.8s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .menu{
    display: block;
  }
}

@media screen and (max-width: 750px){
  .nav-links{
    width: 100%;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px)
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* TITLE SECTION */
main #siteTitle{
  text-align: left;
  image-align: center;
  color: white; 
}

.gridcontainerA {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
  align-items: center;
  grid-column-gap: 40px; 
  margin-left: 10vw; 
  margin-right: 10vw; 
  margin-top: 10vw; 
}
@media screen and (max-width: 750px){
  .gridcontainerA{
    padding-top: 5vw; 
  }
}
@media screen and (max-width: 500px){
  .gridcontainerA{
    padding-top: 15vw; 
  }
}

.titleimage img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.titletext p{
  padding-top: 20px; 
  padding-bottom: 25px;
  color:#444445;

}
.titletext h2, h3{
  padding-top: 25px; 
  color: #444445; 
}

/* OUR MISSION SECTION */

#ourMission h1{
  color: white;
  padding-top: 25px; 
  padding-bottom: 25px;
}

/* Style the video: 100% width and height to cover the entire window code based on tutorial from w3 schools https://www.w3schools.com/howto/howto_css_fullscreen_video.asp*/
#myVideo {
  margin-top: 20vh; 
  align-items: center; 
  width: 100%;
  background-color: #9fcadc; 
}

/* Add some content at the bottom of the video/page */
.content {
  background: #114D74;
  color: #f1f1f1;
  width: 100%;
  padding-top: 2vh;
  padding-left: 5vh; 
  padding-bottom: 5vh; 
}

.content p{
  padding-bottom: 15px; 
  color: white; 
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 80px;
  padding: 5px;
  border: none;
  background: #fff;;
  color: #114D74;
  cursor: pointer;
  box-shadow: none; 
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* making sure the video text makes sense for iphone too */
@media screen and (max-width: 850px){
  .content{ 
    border-radius: 0px 0px 10px 10px; 
  }
  #myVideo{
    border-radius: 10px 10px 0px 0px; 
  }
}

@media screen and (max-width: 600px){
  .content{
    padding:10px; 
  }
}

/* OUR APPROACH SECTION */

#ourApproach{
  background-color: #9fcadc;
}

#ourApproach h2{
  margin-left: 10vw; 
  padding-top: 25px; 
  padding-bottom: 25px; 
}

.our-approach-grid {
  display: grid;
  align-items: center; 
  text-align: center; 
  grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10vh; 
  grid-row-gap: 10vh; 
  padding: 5vw 10vw 5vw 10vw; 
}
.our-approach-grid p{
  padding-top: 2vw; 
}

.our-approach-grid img{
  width: 60%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;

}

@media screen and (max-width: 750px){
  .our-approach-grid {
    display: block; 
    margin-top: 10px; 
  }
  .our-approach-grid p{
    padding-top: 5vw; 
    padding-bottom: 10vw
      
  }
}

.programsbutton{
  display: flex;
  justify-content: center; 
}

.programsbutton button{
  background-color: #A6CEB7
}
.programsbutton button a{
  color: white; 
}

/* background 3section divider */
#Background3{
  background-image: url("images/background3.png");
  background-size: cover; 
  height: 100%; 
}
  

/* OUR PEOPLE SECTION */

#ourPeople{

  background-color: white; }


.our-people-grid {
  display: grid;
  align-items: center; 
  text-align: center; 
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  grid-template-rows: 1fr;
  gap: 0px 28px;
  padding: 5vh; 
  
}

.our-people-grid p{
  padding-top: 2vw; 
  color: #444445
}
.our-people-grid img{
  width: 60%; 
  border-radius: 50%; 
}

#ourPeople h2{
  margin-left: 10vw; 
  margin-top:10vw;
  padding-top: 25px; 
  padding-bottom: 25px; 
}

