/* Global rules */

*{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none; 
}

ul{
  list-style: none;
}

h2{
  font-size: 2.5rem; 
}

main{
  color: white; 
}


p{
  color: #444445; 
}

button a{
  color: white; 
}

/* NAV BAR */

#navBar{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  min-height: 8vh; 
  background-color:white;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  width:auto; 
}
.logo img{
  padding-top:5px; 
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 35%; 
}

.nav-links li{
  list-style: none; 
}

.nav-links a{
  color: #444445;
  text-decoration: none; 
  letter-spacing: 3px; 
  font-size: 14px;
}

.nav-links a:hover{
  color: #7AD0E6;
  font-weight: 450; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

button{
  color: #FFFFFF;
  background-color: #118AB2;
  border: none;
  padding: 10px 30px;
  font-family: 'Montserrat';
  font-weight: 500; 
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #888888;
}

button:hover{
  background-color: #114D74;
  color: #ffffff;
}

.menu{
  display: none; 
  cursor: pointer;
}

.menu div{
  width: 25px;
  height: 3px; 
  background-color: #444445; 
  margin: 5px;
  transition: all 0.3s ease; 
}

@media screen and (max-width: 1150px){
  .nav-links{
    justify-content: space-around;
    width: 50%;
  }
}

@media screen and (max-width: 750px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: fixed;
      right: 0px; 
      height: 92vh;
      top: 8vh;
    background-color: #f7f7f7;
    text-transform: uppercase; 
    font-size: 28px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.8s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .menu{
    display: block;
  }
}

@media screen and (max-width: 750px){
  .nav-links{
    width: 100%;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px)
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* TITLE SECTION */
main #siteTitle{
  text-align: left;
  image-align: center;
  color: white; 
}

.gridcontainerA {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
  align-items: center;
  grid-column-gap: 40px; 
  margin-left: 10vw; 
  margin-right: 10vw; 
  margin-top: 10vw; 
}
@media screen and (max-width: 750px){
  .gridcontainerA{
    padding-top: 5vw; 
  }
}
@media screen and (max-width: 500px){
  .gridcontainerA{
    padding-top: 15vw; 
  }
}

.titleimage img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.titletext p{
  padding-top: 20px; 
  padding-bottom: 25px;
  color:#444445;

}
.titletext h2, h3{
  padding-top: 25px; 
  color: #444445; 
}

/* OUR MISSION SECTION */

#ourMission h1{
  color: white;
  padding-top: 25px; 
  padding-bottom: 25px;
}

/* Style the video: 100% width and height to cover the entire window code based on tutorial from w3 schools https://www.w3schools.com/howto/howto_css_fullscreen_video.asp*/
#myVideo {
  margin-top: 20vh; 
  align-items: center; 
  width: 100%;
  background-color: #9fcadc; 
}

/* Add some content at the bottom of the video/page */
.content {
  background: #114D74;
  color: #f1f1f1;
  width: 100%;
  padding-top: 2vh;
  padding-left: 5vh; 
  padding-bottom: 5vh; 
}

.content p{
  padding-bottom: 15px; 
  color: white; 
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 80px;
  padding: 5px;
  border: none;
  background: #fff;;
  color: #114D74;
  cursor: pointer;
  box-shadow: none; 
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* making sure the video text makes sense for iphone too */
@media screen and (max-width: 850px){
  .content{ 
    border-radius: 0px 0px 10px 10px; 
  }
  #myVideo{
    border-radius: 10px 10px 0px 0px; 
  }
}

@media screen and (max-width: 600px){
  .content{
    padding:10px; 
  }
}

/* OUR APPROACH SECTION */

#ourApproach{
  background-color: #9fcadc;
}

#ourApproach h2{
  margin-left: 10vw; 
  padding-top: 25px; 
  padding-bottom: 25px; 
}

#ourApproach p{
  color: white; 
}

.our-approach-grid {
  display: grid;
  align-items: center; 
  text-align: center; 
  grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10vh; 
  grid-row-gap: 10vh; 
  padding: 5vw 10vw 5vw 10vw; 
}
.our-approach-grid p{
  padding-top: 2vw; 
}

.our-approach-grid img{
  width: 60%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;

}

@media screen and (max-width: 750px){
  .our-approach-grid {
    display: block; 
    margin-top: 10px; 
  }
  .our-approach-grid p{
    padding-top: 5vw; 
    padding-bottom: 10vw
      
  }
}

.programsbutton{
  display: flex;
  justify-content: center; 
}

.programsbutton button{
  background-color: #A6CEB7
}
.programsbutton button a{
  color: white; 
}
.programsbutton button:hover{
  background-color: #00695B;
}

/* background 3section divider */
#Background3{
  background-image: url("images/background3.png");
  background-size: cover; 
  height: 100%; 
}
  
/* OUR PEOPLE SECTION */
#ourPeople{
  background-color: white; 
  align-items: center; 
  margin-left: 10vw; 
  margin-right: 10vw;
}
#ourPeople h2{
  color:#444445;
  padding-top: 25px; 
  padding-bottom: 25px; 
}
#ourPeople p{
  color:#444445;
  padding: 5px; 
}

#ourPeople a{
  color:#444445;
}

#ourPeople a:hover{
  color:#7AD0E6;
}

#ourPeople > .content{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* our people boxes - source code: www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
  margin: auto; 
}
div.gallery img {
  width: 100%; 
  margin: auto; 
  height: 100%; 
  border-radius: 50%;
}
div.desc {
  padding: 25px;
  text-align: left;
}
.responsive {
  padding: 20px;
  width: 515px;
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 69.99999%;
  }
  #ourPeople > .content{
    flex-direction: column;
  }
  div.gallery {
    background-color: rgb(241, 241, 241);
    border-radius: 15px; 
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* the rest of the team */

.the-team-grid {
  display: grid;
  text-align: center; 
  image-align: center; 
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr))
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Kartik Rob Sam Tim";
}


.the-team-grid img{
  border-radius: 70%; 
  width: 60%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.the-team-grid p{
  font-size:10px; 
}

.the-team-grid a{
  color: #444445
}
.the-team-grid a:hover{
  color:#7AD0E6; 
}

.joinbutton{
  display: flex;
  justify-content: center; 
  padding: 20px; 
}

.joinbutton button{
  background-color: #A6CEB7
}
.join button a{
  color: white; 
}

.joinbutton button:hover{
  background-color: #00695B;
}

/* back to top button */

#mytopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 5%; /* Place the button at the bottom of the page */
  right: 1%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:transparent;
  color: #ddd; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  box-shadow: none;
}

#mytopBtn:hover {
  color: #555; /* Add a dark-grey background on hover */
}

/* footer */

#oceanFooter{
  background-image: url("images/footer2.png");
  background-size: cover; 
}

#oceanFooter p,h3,a{
  color: white; 
}

.grid-container-footer {
  padding-top:120px;
  padding-bottom: 80px; 
}

.socials { 
  grid-area: socials; 
  position:absolute;
  left:5%; 
  }
}


/* Donate page */

#donationform{
  background-color:#eff6f1;
  width:100%;
  height:100%;
}


.grid-container-donate {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav"
    "Donate-Title Donate-Title Donate-Title"
    "... Donate-Info ...";
}


.Donate-Title {
  grid-area: Donate-Title;
  text-align: center;
}
.Donate-Title h2{
  color:#144e75;
  font-size: 3rem;
}

#Donate-Info {
  display: grid;
  margin-left:5%;
  margin-right:5%;
  grid-area: Donate-Info;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Donation-frequency   Donation-frequency   Donation-frequency   Donation-frequency   Donation-frequency   Donation-frequency"
    "FirstName       FirstName       FirstName       LastName        LastName        LastName     "
    "Email           Email           Email           Email           Email           Email        "
    "Amount          Amount          Amount          Amount          Amount          Amount       "
    "donateAmount    donateAmount    donateAmount    donateAmount    donateAmount    donateAmount "
    "Donate-donate   Donate-donate   Donate-donate   Donate-donate   Donate-donate   Donate-donate";
}


.Donation-frequency {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px; 
  grid-area: Donation-frequency;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 5vw; ;
  
  grid-template-areas:
  "Donation-single Donation-month";
  
  
}

.Donation-single {
  text-align: center;
  grid-area: Donation-single;
  padding: 15px;
  background-color:#47677f;
  transition-property: background-color;
  transition-duration: 0.25s;
  border-width: 1px;
  border-radius: 14px;
  box-shadow: 3px 3px 3px #888888;
  cursor: pointer;
}

.Donation-single:hover{
  background-color: #636363;
}

.Donation-single:active{
  background-color: cornflowerblue;
}
      
.Donation-month {
  text-align: center;
  padding: 15px;
  grid-area: Donation-month;
  background-color:#47677f;
  transition-property: background-color;
  transition-duration: 0.25s;
  border-radius: 14px;
  box-shadow: 3px 3px 3px #888888;
  cursor: pointer;
}
.Donation-month:hover{
  background-color: #636363;
}

.Donation-month:active{
  background-color: cornflowerblue;
}




.FirstName {
  grid-area: FirstName;
  color:#444445;
  margin-bottom:5%;
}

div > label{
  color:#444445;
}

.FirstName input {
  width: 90%;
}

.LastName {
  grid-area: LastName;
  margin-bottom:5%;
}

.LastName input {
  width:90%;
}

.Email {
  grid-area: Email;
  margin-bottom:5%;
}
.Amount {
  grid-area: Amount;
  text-align: center;
}
.Amount h4{
  color: #144e75;
}

.donateAmount {
  grid-area: donateAmount;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
  "donate5 donate15 donate30 selectamount"
}

.donate5 {
  grid-area: donate5;
}

.donate15 {
  grid-area: donate15;
}

.donate30 {
  grid-area: donate30;
}

.selectamount {
  grid-area: selectamount;
  margin-top: auto;
  margin-bottom:auto;
}
.selectamount label{
  font-size: 10px;
}
.selectamount input{
  width: 75%;
  height: 50%;
  border: none;
  background-color: transparent;
}

.donateAmount p{
  color:#444445;
}

.donate5, .donate15, .donate30, .selectamount {
  background-color: #eff6f1;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.donate5:hover, .donate15:hover, .donate30:hover, .selectamount:hover{
  background-color: #c6c6c6;
}

.donate5:active, .donate15:active, .donate30:active, .selectamount:active{
  background-color: #4aa3e5;
}

.Donate-donate {
  margin-top: 4em;
  grid-area: Donate-donate;
  margin-bottom: 5em;
}


.Donate-btn{
  color: #FFFFFF;
  background-color: #118AB2;
  width: 40%;
  height: 90%;
  text-align: center;
  border: none;
  padding: 10px 30px;
  font-family: 'Montserrat';
  font-weight: 500; 
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #888888;
  margin: 0 auto;
  position: relative;
  display: block;
}

.Donate-btn:hover{
  background-color: #114D74;
  color: #ffffff;
}



#Donate-Info label {
  display: block;
  margin:auto;

}

input {
  width: 95%;
  height:100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: auto;
  padding-right: auto;
}

#progress{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* payment */

.container {
  background-color: #f2f2f2;
  padding: 55px 30px 55px 30px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-left:300px;
  margin-right:300px
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
label {
  margin-bottom: 10px;
  display: block;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.fname{
  display:flex; 
  justify-content: center;
}

.backbutton{
  margin:50px;
}

.backbutton a{
  color:#6890a8;
  margin:50px;
}

@media screen and (max-width: 1000px){
  .backbutton{
    display:none;
  }
  #progress{
    display:none; 
  }
  .container{
    margin:0;
  }
}

/* NEWS*/ 

#news h2{
  color:#134e75;
  text-align:center;
  margin: 30px 0px;
}
#news h3{
  color:#444445;
  text-align:center;
  margin: 50px 0px;
}

#news a {
  background:#6890a8;
  border-radius: 50%;
  color: white;
}

#news a:hover {
  background:#bdd1db;
  border-radius: 50%;
  color: white;
}



/*slideshow code fromhttps://css-tricks.com/css-only-carousel/*/ 

.slider {
  width: 80%;
  height:300px;
  margin:0 auto;
  text-align: center;
  overflow:visible;
}


.slides {
  display: flex; 
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background:#6890a8;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.sliderimg  {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* blog post  */



#blogpost1 {
  margin:5% 20% 0 20%;
  background-color: #eff6f1;
  padding: 2%;
  border-radius:14px;
}

#blogpost1 p {
  margin:0 10% 0 10%;
}

#mostrecent h2{
  text-align: center; 
  color: #134e75;
  margin:10% 0 5% 0;
}

#blogpost1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:10px; 
  width: 75%;
}

.viewmore a{
  color: #444445;
}
.viewmore {
  text-align:center; 
}


@media screen and (max-width: 1150px){
  #blogpost1{
    margin:0;
  }
}

